/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
#about {
    background-color: #f8f9fa;
}

#about p{
    margin-left: 10%;
    margin-right: 10%;
}

#skills {
    background-color: #f8f9fa;
    margin-top: 2rem;
}

#projects {
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}

#contact form {
    margin-top: 1rem;
}

/* Buttons */
button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Header */
:root {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

*,
:before,
:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	-ms-box-sizing: inherit;
	-o-box-sizing: inherit;
	box-sizing: inherit;
}

html, body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

html {
	overflow: hidden;
}

body {
	margin: 0;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
	-ms-overflow-style: ms-autohiding-scrollbar;
}

#page-wrap {
	position: relative;
	display: block;
	clear: both;
	background: none;
	color: #b88989;
	text-decoration: none;
	padding: 3rem 0;
	width: 100%;
	height: 100%;
}

#inner-wrap {
	position: absolute;
	top: 3rem;
	left: 0;
	right: 0;
	bottom: 3rem;
	display: table;
	width: 100%;
	height: 100%;
	min-height: 322px;
	overflow: visible;
}

.logo {
	position: absolute;
	z-index: 1;
	top: 3rem;
	left: 2rem;
	display: block;
	width: 9vmax;
	height: 9vmax;
	min-width: 50px;
	min-height: 50px;
}

.waves {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	min-width: 100%;
	min-height: 70%;
	margin: auto 0;
}

.text {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	width: 83%;
	height: 100%;
	margin: auto;
}

img, svg {
	display: block;
	overflow: visible;
	pointer-events: none;
}

.group:before,
.group:after {
  content: "";
  display: table;
  clear: both;
}
.group {
  zoom: 1;
  margin-bottom: 30%;
}


/* Nav Bar */
.navbar {
    background-color: #D2B48C;
    padding: 20px;
    font-size: 22px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    transition: transform 0.3s, color 0.3s; /* Smooth hover effect */
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #494444;
}
.navbar-brand{
    font-size: 32px;
}


/* Footer Styles */
footer {
    background-color: #494444;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .project img {
        width: 100%;
        height: auto;
    }
}


* {
    position: relative;
    box-sizing: border-box;
  }
  
  .iframely-embed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: white;
  }

#app {
    z-index: 100;
}

#app {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding-bottom: 4vmin;
    height: 90vh;
    width: 100%;
    background: #ede8e2;
    color: #3a3535;
}

body {
    display: grid;
    padding: 3vmin;
    background: #e6ded7;
}


/* Typewriter Animation */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Cursor */
.cursor{
    width: 22ch;
    animation: typing 2s steps(30), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}
/* Animation */
.typewriter-animation {
    animation: 
        typewriter 3s steps(30) 1s 1 normal both, 
        blinkingCursor 500ms steps(30) 5s 1 normal forwards;
}

@keyframes typewriter {
    from {
        width: 0
      }
    }
@keyframes blinkingCursor{
    from { border-right-color: rgba(255, 255, 255, 0.75); }
    to { border-right-color: transparent; }
}


/* Frame for img */
.profile-img {
    --s: 10px; 
    padding: var(--s);
    border: calc(2*var(--s)) solid #0000;
    outline: 1px solid #494444;
    outline-offset: calc(-1*var(--s));
    background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
  }


/* Skill Section */
.inner {
    padding-top: 20px;
}

#skills {
    text-align: center;
    padding: 1rem;
    position: relative;
}
#skills::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
}

#skills .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Ensures items wrap when necessary */
    justify-content: space-around; /* Space items evenly */
    align-items: flex-start;
    text-align: center;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skill-box {
    width: 30%; /* Adjust width as needed */
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before{
    width: 35px;
}

.skill-box:hover{
    transform: translateY(-10px);
}

.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
    font-size: larger;
    color:#494444;
}

.skill-title:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #D2B48C;
    transition: .5s;
}

.skill-title:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #D2B48C;
    transition: .5s;
}

.skill-tag {
    display: inline;
    font-family: monospace; 
    font-size: 2em;
    color:#494444;
}

.skill-tag::before {
    content: "</";
    color: #888; 
}

.skill-tag::after {
    content: ">";
    color: #888; 
}

#skills img {
    width: 90px;
    height: 90px;
    border-radius: 50%; 
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover; 
}

#skills img:after{
    content: '';
    position: absolute;
    top: 0;
    Left: 0;
    width: 50%;
    height: 90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
}

.skill-title h3{
    color: #362f2f;
    margin-top: 0.5rem;
}

#skills h1 {
    font-size: 2em;
    color: #362f2f;
    cursor: pointer;

    --s: 0.1em; /* Thickness of the line */
    --c: #D2B48C; /* Line color */
    
    padding-bottom: var(--s);
    background: 
        linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    background-clip: text, padding-box;
    -webkit-background-clip: text, padding-box;
    -webkit-text-fill-color: transparent; /* Makes the text visible via gradient */
    transition: 0.5s ease-in-out;
}

#skills h1:hover {
    --_p: 100%; /* Animate to full width on hover */
}

#skills p{
    color: #494444;
}

.skill-icon{
    width: 50px;
    z-index: 2;
}

@media screen and (max-width: 990px) {
    #skills .container {
        display: grid; /* Switch to grid layout */
        grid-template-columns: repeat(2, 1fr); /* Two columns */
        gap: 1rem; /* Add spacing between items */
        padding: 2rem 50px;
    }

    .skill-box {
        width: 100%; /* Take full width in grid layout */
    }
}

@media screen and (max-width: 650px) {
    #skills .container {
        grid-template-columns: 1fr; /* Single column for small screens */
    }
}


/* Container Styling for Layout */
#projects .container {
    margin-top: 2rem;
  }
  
  /* Card Styling */
  .card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: none; /* Optional: For a cleaner look */
  }
  
  /* Hover Effect */
  .card:hover {
    transform: translateY(-10px); /* Slightly lift the card */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Add a shadow */
  }
  
  /* Optional: Enhance Card Image on Hover */
  .card-img-top {
    transition: transform 0.3s ease-in-out;
    height: 200px;
  }
  
  /* Optional: Button Animation */
  .card-body .btn {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .card-body .btn:hover {
    background-color: #494444; /* Change to a vibrant color */
    color: #ffffff;
  }

  .card-title{
    font-size: 2em;
    color: #362f2f;
    cursor: pointer;

    --s: 0.1em; /* Thickness of the line */
    --c: #D2B48C; /* Line color */
    
    padding-bottom: var(--s);
    background: 
        linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    background-clip: text, padding-box;
    -webkit-background-clip: text, padding-box;
    -webkit-text-fill-color: transparent; /* Makes the text visible via gradient */
    transition: 0.5s ease-in-out;
}

.card-title:hover {
    --_p: 100%; /* Animate to full width on hover */
}



